node_modules
.tmp
.DS_Store
.DS_Store?
app.yaml

#sketch
*.sketch
*/.sketch
*/**/.sketch
*-*-*.sketch

#psd
*.psd
*/.psd
*/**/.psd
*-*-*.psd

#illustrator
*.ai
*/.ai
*/**/.ai
*-*-*.ai

#Principle
*.prd
*/.prd
*/**/.prd
*-*-*.prd
