#tickets-cta1 {
	position: fixed;
	top: 36px;
	right: 140px;
	height: 160px;
	cursor: pointer;
	outline: none;
	border: none;
	z-index: 999;
	width: 120px;
	.flex-display();
	.flex-direction(column);
	.align-items(center);

	.tickets-cta {
		color: @color-white;
		text-shadow: @shadow;
		transform-origin: bottom center;
		@size: 60px;

		&--top {
			font-size: @size;
			.animation(float1 4s ease-in-out infinite);
		}
		&--bottom {
			transform-origin: top center;
			font-size: (@size * (2 / 3));
			.animation(float2 4s ease-in-out infinite);

			.circle-mask {
				position: absolute;
				top: 0;
				overflow: hidden;
				border-radius: 50%;
				width: 120px;
				height: 120px;
				transform-origin: 75% 25%;
				opacity: 0;
				.transition(all (@duration / 2) @easing);
				.transform(scale(0,0));
			}
			.red {
				color: fade(@color-red, 90%);
			}

			.white {
				position: absolute;
				top: 1px;
				left: 0px;
				color: @color-white;
			}
		}
	}

	&:hover {
		.tickets-cta {
			&--bottom {
				.circle-mask {
					opacity: 1;
					border-radius: 0px;
					.transition(all (@duration / 2) @easing2);
					.transform(scale(1,1));
				}
			}
		}
	}

	.keyframes(float1;{
		0%,100% { transform:translateY(0); }
		50% {transform:translateY(-25px); }
		});

	.keyframes(float2;{
		0%,100% { transform:translateY(0) rotate(-4deg); }
		50% {transform:translateY(-25px) rotate(4deg); }
		});   
}

#tickets-cta2 {
	position: fixed;
	top: 0px;
	right: 140px;
	height: 122px;
	z-index: 999;
	cursor: pointer;
	outline: none;
	border: none;
	width: 110px;
	.flex-display();
	.flex-direction(column);
	.align-items(center);

	@size: 60px;

	> div {
		.transform(scaleX(-1) rotate(-60deg));
		.flex-display();
		.flex-direction(column);
		.align-items(center);
	}

	> span {
		width: 100%;
		.flex-display();
		.flex-direction(row);
		.align-items(center);
		.justify-content(space-evenly);

		> span {
			color: @color-white;
			text-transform: uppercase;
			font-family: @font-primary;
			font-weight: 300;
			font-size: (@size / 2);
			text-shadow: @shadow;
		}
	}

	i {
		font-size: @size;
		color: @color-white;
		text-shadow: @shadow;
		.transition(transform (@duration) 0.09s  @easing);
	}

	svg {
		@shadow: 1px 1px 0 rgba(0,0,0,.2);
		width: 100%;
		height: 100%;
		margin-left: 35px;
		transform-origin: top;
		-webkit-filter: drop-shadow(@shadow);
		filter: drop-shadow(@shadow);

		g {
			stroke: @color-white;
			stroke-width: 21; 
			fill: none;
			stroke-linecap: round;

			path {
				stroke-dasharray: 65;
				stroke-dashoffset: 10;
				.transition(stroke-dashoffset (@duration) @easing);
			}
		}
	}

	&:hover {
		svg g path {
			stroke-dashoffset: 200;
		}
		i {
			.transform(translate(-2.5px, 7.5px));
		}
		> span > span { 
			.keyframes(updown;{
				0%,100% { transform:translateY(0); }
				50% {transform:translateY(-10px); }
				});  

			.animation(updown (@duration / 2) @easing);

			@from : 1;
			@to : 11;

			.loop(@index) when(@index =< @to) {
				&:nth-child(@{index}) {
					animation-delay: (0.18s + (@index * 0.03s));
				}
				.loop(@index + 1);
			}
			.loop(@from);
		}
	}
}

#tickets-cta3 {
	overflow: hidden;
	position: fixed;
	top: 180px;
	left: 45px;
	height: 40px;
	z-index: 999;
	cursor: pointer;
	outline: none;
	border: none;
	width: 120px;
	opacity: 0;
	.transform(translateX(-50px));
	.transition(all (@duration) @easing (@duration / 2));
	// .flex-display();
	// .flex-direction(column);
	// .align-items(center);
	// .justify-content(center);

	.tickets-cta-outer {
		width: 100%;
		height: 100%;
		border: solid 1px @color-white;
		background-color: fade(@color-red, 68%);
		// opacity: 0.90;
		// background-image: url('img/button-bg-red.svg');
	}

	.tickets-cta-text {
		position: absolute;
		top: 0;
		width: 80%;
		left: 10%;
		height: 100%;
		text-align: center;
		color: @color-white;
		text-transform: uppercase;
		letter-spacing: 0px;
		font-size: 16px;
		line-height: 40px;
		font-weight: 400;
		text-shadow: @shadow;
		font-family: @font-tertiary;
		opacity: 1;
		.flex-display();
		.flex-direction(row);
		.justify-content(space-evenly);
		.transition(all (@duration / 2) @easing);
		.transform(translate3d(0, 0, 0));

		&:after {
			white-space: nowrap;
			letter-spacing: 0.05em;
			content: attr(data-text);
			position: absolute;
			top: -100%;
			right: 0;
			left: 0;
		}
	}

	&.animating {
		.tickets-cta-text {
			span {
				.keyframes(updown;{
					0%,100% { .transform(translateY(0)); }
					50% {.transform(translateY(-10px)); }
					});  

				.animation(updown (@duration / 2) @easing);

				@from : 1;
				@to : 11;

				.loop(@index) when(@index =< @to) {
					&:nth-child(@{index}) {
						animation-delay: @index * 0.03s;
					}
					.loop(@index + 1);
				}
				.loop(@from);
			}
		}
	}

	&.active {
		opacity: 1;
		.transform(translateX(0));
		.tickets-cta-outer {
			// border-color: @color-white;
			// border-color: transparent;
			// background-color: fade(@color-red, 68%);
			// background-image: none;
			// opacity: 0.95;
		}
	}

	&:hover {
		.tickets-cta-text {
			opacity: 1;
			.transform(translate3d(0, 100%, 0));

			&:after {
				// opacity: 1;
			}
		}
	}
}

#tickets-cta4 {
	@base-rotation: 70deg;
	@end-rotation: 45deg;

	.keyframes(spin;{
	    0% { .transform(rotate(@base-rotation)); }
	    50% { .transform(rotate(@end-rotation)); }
		100% { .transform(rotate(@base-rotation)); }
	});    

    top: 30px;
    left: 70px;
    height: 100px;
    width: 100px;
	display: block;
    cursor: pointer;
    position: absolute;
    z-index: 999999 !important;
    text-align: left;
    color: @color-white;
    opacity: 1;
	.transform(translateY(0));
	.transition(all @duration @easing);

    .cta-outer, .cta-inner {
        position: absolute;
        text-shadow: @shadow;
    }
    
    @size: 80px;

    .cta-outer {
        font-size: @size;
        .transition(transform @duration cubic-bezier(0.205, 0.64, 0.37, 1.325));
        .transform(rotate(@base-rotation));
    }

    &.animating {
    	.cta-outer {
			.animation(spin (@duration * 2) cubic-bezier(0.205, 0.64, 0.37, 1.325));
    	}
    }

    .cta-inner {
        font-size: ((@size / 2));
        margin-top: ((@size / 4));
        margin-left: ((@size / 6));
    }

    &:hover {
        .cta-outer {
          animation: spin 1s cubic-bezier(0.205, 0.64, 0.37, 1.325) forwards;
        }
    }
    &.active {
		opacity: 0;
		.transform(translateY(-150px));
		pointer-events: none;
    }
}

#tickets-cta5 {
	position: fixed;
	top: 32px;
	right: 145px;
	display: block;
	height: 122px;
	z-index: 999;
	cursor: pointer;
	outline: none;
	border: none;
	width: 80px;
	opacity: 1;
	.transform(translateY(0));
	.transition(all @duration @easing);
	.flex-display();
	.flex-direction(column);
	.align-items(center);

	@size: 50px;

	.keyframes(updown;{
		0%,100% { transform:translateY(0); }
		50% {transform:translateY(-10px); }
	});  

	> span {
		margin-top: 6px;
		width: 100%;
		.flex-display();
		.flex-direction(row);
		.align-items(center);
		.justify-content(space-evenly);

		> span {
			color: @color-white;
			text-transform: uppercase;
			font-family: @font-primary;
			font-weight: 300;
			font-size: (@size / 2.25);
			text-shadow: @shadow;
		}
	}

	i {
		font-size: @size;
		color: @color-white;
		text-shadow: @shadow;
		.transition(transform (@duration) 0.09s  @easing);
	}

	&.animating {
		> span > span { 
			.animation(updown (@duration / 2) @easing);

			@from : 1;
			@to : 11;

			.loop(@index) when(@index =< @to) {
				&:nth-child(@{index}) {
					animation-delay: (0.18s + (@index * 0.03s));
				}
				.loop(@index + 1);
			}
			.loop(@from);
		}
	}


	&:hover {
		> span > span { 
			.animation(updown (@duration / 2) @easing);

			@from : 1;
			@to : 11;

			.loop(@index) when(@index =< @to) {
				&:nth-child(@{index}) {
					animation-delay: (0.18s + (@index * 0.03s));
				}
				.loop(@index + 1);
			}
			.loop(@from);
		}
	}

    &.active {
		opacity: 0;
		.transform(translateY(-150px));
		pointer-events: none;
    }
}